<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", { title: "create" } ) %>
<body>
    <%- include("../partials/navbar") %>
    <h1>create</h1>
    <%- include("../partials/footer") %>
</body>
</html>