<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", { title: "Ops 404" } ) %>
<body>
    <%- include("../partials/navbar") %>
    <p>Page Not Found!</p>
    <!-- <img src="../../public/images/404.jpeg" alt="404error"> -->
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxqmiioDIsYbE9Hm7QYeJNwRlvuGNdLUipaDHYOOlgga8QWNenr-fGdOrUC5r3W6f0_7s&usqp=CAU" alt="404error">
    <%- include("../partials/footer") %>
</body>
</html>