.img-thumbnail{
    margin-top: 8px;
    height: 100px;
    width: 100px;
}

.cart-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.subModel {
    background-color: lightgray;
    color: dimgrey;
    text-align: center;
}

.icon-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 66vw;
    justify-content: space-evenly;
}



.cart {
    margin-top: 30px;
    border: 1px solid gold;
    width: 65vw;
    height: 35vw;
    display: flex;
    flex-direction: column;
    background-color: peachpuff;
}

.total {
    text-align: center;
}

#button-checkout {
    background-color: rgb(54, 127, 133);
    color: rgb(199, 177, 81);
    font-size: 1.2rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.link {
    text-align: center;
    margin: 20px;
    color: rgb(0, 102, 255);
}


.btn-icons{
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

#btn-minus{
    color: red;
}

#btn-plus{
    color: green;
}

#btn-delete{
    color: chocolate;
}