<div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/all">Main</a></li>
        <li><a href="/single">Single</a></li>
        <li><a href="/create">Create</a></li>
    </ul>
</div>